# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Virtual Environment
venv/

# Environment variables
.env

# Uploads
backend/uploads/
backend/frames/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Hugging Face cache
.cache/